.login{
  padding-top: 30px;
  margin-left: 25%;
  margin-right: 25%;
}
body{
  background-color: lightgrey!important;
}
.caixa{
  background-color: white;
  margin-top: 130px;
  margin-left: 200px;
  margin-right: 200px;
}
.cadastro{
  text-decoration: none;
  color: white;
}
.cadastro:hover{
  text-decoration: none;
  color: white;
}
.group_icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons{
  text-decoration: none;
  margin-left: 5%;
  padding-right: 5%;
}
.util-modal{
  margin-top: 15px!important;
  margin-left: 25px;
}